body {
    overflow: hidden;
    background: #EDEDED;
    margin: 0;
    padding: 0;
    font-family: arial, serif;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#games {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.game {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

#games img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.inline-image {
    vertical-align: middle;
    max-height: 1em;
    width: auto;
    margin: 0 5px;
}